<h1>Listado de Heroes</h1>
<mat-divider></mat-divider>

<div class="grid bm-12">
  <div class="col p-6">
    <mat-card>
      <mat-card-content>
        <div class="col" style="text-align: right">
          <div class="col-12" class="button_action_flex">
            <button
              mat-icon-button
              type="button"
              (click)="search()"
              class="btn btn-success"
              color="primary"
            >
              <mat-icon>search</mat-icon>
            </button>
            <button
              mat-icon-button
              [ngClass]="{ rotate180: !isHidden, 'rotate-back': isHidden }"
              (click)="isHidden = !isHidden"
              color="primary"
              matTooltip="Filtros"
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </div>
        <div class="col">
          <form [formGroup]="searchForm" [hidden]="isHidden">
            <div class="col">
              <app-worker-autocomplete
                [formulario]="searchForm"
                name="searchHero"
              >
              </app-worker-autocomplete>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 p-3">
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource">
        <!-- User name Definition -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Accion </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button (click)="deleteHero(row)" mat-icon-button color="primary">
              <mat-icon>delete</mat-icon>
            </button>

            <button
              mat-icon-button
              color="primary"
              (click)="navitateEdit(row.id)"
            >
              <mat-icon>edit</mat-icon>
            </button></mat-cell
          >
        </ng-container>

        <!-- Age Definition -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
        </ng-container>

        <!-- Title Definition -->
        <ng-container matColumnDef="superhero">
          <mat-header-cell *matHeaderCellDef> SuperHeroe </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.superhero }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="publisher">
          <mat-header-cell *matHeaderCellDef> Editora </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.publisher }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="alter_ego">
          <mat-header-cell *matHeaderCellDef> Actor </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.alter_ego }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="first_appearance">
          <mat-header-cell *matHeaderCellDef>
            Primera Aparición
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.first_appearance }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="characters">
          <mat-header-cell *matHeaderCellDef> Caracteristicas </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.characters }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="foto">
          <mat-header-cell *matHeaderCellDef> Foto </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img width="50px" [src]="row | HeroImage" [alt]="row.superhero" />
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row
          *matHeaderRowDef="[
            'action',
            'id',
            'superhero',
            'publisher',
            'alter_ego',
            'first_appearance',
            'characters',
            'foto'
          ]"
        ></mat-header-row>
        <mat-row
          *matRowDef="
            let row;
            columns: [
              'action',
              'id',
              'superhero',
              'publisher',
              'alter_ego',
              'first_appearance',
              'characters',
              'foto'
            ]
          "
        ></mat-row>
      </mat-table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
