<h1>Listado de Heroes</h1>
<mat-divider></mat-divider>

<div class="grid bm-12">
  <div class="col p-6">
    <mat-card>
      <mat-card-content>
       
        <div class="col" style="text-align: right">
         
          <div class="col-12" class="button_action_flex">
            <button
            mat-icon-button
            type="button"
            (click)="search()"
            class="btn btn-success"
            color="primary"
          >
            <mat-icon>search</mat-icon>
          </button>
            <button
              mat-icon-button
              [ngClass]="{ rotate180: !isHidden, 'rotate-back': isHidden }"
              (click)="isHidden = !isHidden"
              color="primary"
              matTooltip="Filtros"
            >
              <mat-icon>arrow_downward</mat-icon>
            </button>
          </div>
        </div>
        <div class="col">
          <form [formGroup]="searchForm" [hidden]="isHidden">
            <div class="col">
              <app-worker-autocomplete
                [formulario]="searchForm"
                name="searchHero"
              >
              </app-worker-autocomplete>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 p-6">
    <div class="mat-elevation-z8">
      
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Accion</th>
          <td mat-cell *matCellDef="let row">

            <button 
            (click)="deleteHero(row)"
            mat-icon-button 
            color="primary">
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button color="primary"
              (click)="navitateEdit(row.id)"
              >
              <mat-icon>edit</mat-icon>
            </button>

          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="superhero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SuperHeroe</th>
          <td mat-cell *matCellDef="let row">{{ row.superhero }}</td>
        </ng-container>

        <ng-container matColumnDef="publisher">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Editora</th>
          <td mat-cell *matCellDef="let row">{{ row.publisher }}</td>
        </ng-container>

        <ng-container matColumnDef="alter_ego">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actor</th>
          <td mat-cell *matCellDef="let row">{{ row.alter_ego }}</td>
        </ng-container>

        <ng-container matColumnDef="first_appearance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Primera Aparición
          </th>
          <td mat-cell *matCellDef="let row">{{ row.first_appearance }}</td>
        </ng-container>

        <ng-container matColumnDef="characters">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Caracteristicas
          </th>
          <td mat-cell *matCellDef="let row">{{ row.characters }}</td>
        </ng-container>

        <ng-container matColumnDef="foto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Foto
          </th>
          <td mat-cell *matCellDef="let row">
            <img  width="50px" [src]="row | HeroImage " [alt]="row.superhero">
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
