  <mat-form-field appearance="outline" [formGroup]="formulario"
>
  <mat-label>Clientes</mat-label>
  <input
    #searchHero
    type="text"
    aria-label="Number"
    [formControlName]="name"
      matInput
    [matAutocomplete]="autoWorker"
  />
  <button
    mat-button
    matSuffix
    (click)="Tools.clearForm(formulario, name)"
    *ngIf="searchHero.value"
    autocomplete="off"
  >
  <mat-icon>delete</mat-icon>
  </button>
  
  <mat-autocomplete
    autoActiveFirstOption
    #autoWorker="matAutocomplete"

  >
    <mat-option
      *ngFor="let cliente of filteredCliete | async"
      [value]="cliente.nombre"
      (onSelectionChange)="clienteChange(cliente)"
    >
      {{cliente.nombre }}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>